/*GLOBAL*/

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.banner {
    text-align: center;  
    width: 100%;
    margin-bottom: 6em;
}

.nav-item {
    cursor: pointer;
}

/*Contenido*/

.content {
    text-align: center;
    border: 5px solid ;
    padding: 2rem;
    border-color: #010101;
    font-size: 1.1em;
    border-radius: 1em;
    color: white;
    background: #292841;
    margin-bottom: 2em;
}

/*LOGO*/

#logo {
    width: 30px;
    height: 30px;
    border-radius: .3em;
    margin-right: .3em;
}
