/*GLOBAL*/

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.banner {
    text-align: center;  
    width: 100%;
}

.nav-item {
    cursor: pointer;
}

/*Contenido*/

.container {
    margin-top: 9em;
    text-align: center;
    border: 1px solid ;
    padding: 1rem;
    border-color: #010101;
    font-size: 1.2em;
    border-radius: 1em;
    color: beige;
    background: #222222;
}

.btn {
    margin-top: 5em;
    margin-left: 44%;
}

/*LOGO*/

#logo {
    width: 30px;
    height: 30px;
    border-radius: .3em;
    margin-right: .3em;
}
